body {
    font-family: 'Roboto Condensed', sans-serif;
}

.card {
    border: none;
    border-radius: 1rem;
}

.inputArea input{
    text-align: center;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #218838;
    border-color: #1e7e34;
}

@media (max-width: 576px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    #btnBack {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

@media (min-width: 768px) {
    .card {
        margin-top: 2rem;
    }
}