body {
  min-height: 90vh;
}

.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.input-group-text {
  background-color: #f8f9fa;
}

@media (max-width: 576px) {
  .container {
      padding-left: 15px;
      padding-right: 15px;
  }
}

@media (min-width: 768px) {
  body {
      padding-top: 40px;
      padding-bottom: 40px;
  }
}